
@{
    ViewBag.Title = "AdminAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Giới thiệu</h4>
<hr />

<div class="row">
    <div class="col-6">
        <!-- Phần Lịch sử, thành tích -->
        <div class="card card-body mb-4">
            <h5>Lịch sử và Thành tích</h5>
            <p>
                <strong>Năm 1962:</strong> Cùng với quyết định thành lập Trường Đại học Giao thông Vận tải, Thư viện đã được hình thành.
                Tại thời điểm này, Thư viện chỉ là một bộ phận nhỏ thuộc phòng Giáo vụ.
            </p>
            <p>
                <strong>Năm 1984:</strong> Thư viện được tách ra thành đơn vị độc lập trực thuộc Trường với 14 nhân viên.
            </p>
            <p>
                <strong>Ngày 21/02/2002:</strong> Trung tâm Thông tin - Thư viện được thành lập theo quyết định số 753/QĐ-BGD&ĐT-TCCB
                của Bộ Giáo dục và Đào tạo.
            </p>
            <p>
                Trong nhiều năm liền, đơn vị được nhận danh hiệu <strong>"Tập thể lao động tiên tiến"</strong> nhờ đóng góp vào các dịch vụ thông tin tư liệu phục vụ công tác đào tạo, nghiên cứu khoa học và chuyển giao công nghệ của Nhà trường.
            </p>
        </div>

        <!-- Phần Định hướng phát triển -->
        <div class="card card-body">
            <h5>Định Hướng Phát Triển</h5>
            <p>
                Báo cáo công tác tổng kết nhiệm kỳ và phương hướng nhiệm vụ trọng tâm nhiệm kỳ 2018-2023 của trường ĐH GTVT đã nêu rõ:
                Xây dựng trường trở thành trường đại học nghiên cứu theo các chuẩn mực quốc tế, đồng thời đáp ứng tốt nhu cầu đào tạo nguồn nhân lực chất lượng cao trong nước và khu vực.
            </p>
            <p>Theo đó, Trung tâm Thông tin - Thư viện có các nhiệm vụ công tác chính cùng với các đơn vị khác trong trường:</p>
            <ul>
                <li>Tăng cường công tác quản trị đại học theo hướng minh bạch.</li>
                <li>Tiếp tục nâng cao chất lượng đội ngũ.</li>
                <li>Tạo điều kiện thuận lợi nhất cho sinh viên trong quá trình học tập và rèn luyện, coi người học là khách hàng, là trung tâm của quá trình đào tạo và phục vụ.</li>
                <li>Đảm bảo và nâng cao chất lượng đào tạo.</li>
                <li>Phát triển nghiên cứu khoa học và chuyển giao công nghệ theo chiều sâu.</li>
                <li>Tăng cường truyền thông để quảng bá hình ảnh của nhà trường.</li>
                <li>Hoàn thiện hệ thống cơ sở vật chất phục vụ đào tạo, huy động các nguồn lực để đầu tư nâng cao chất lượng dạy và học.</li>
            </ul>
        </div>
    </div>

    <!-- Hình ảnh bên phải -->
    <div class="col">
        <img style="width:100%; height:100%; object-fit: cover;"
             src="~/Content/images/utc.jpg" />
    </div>
</div>
<br />
