@model IEnumerable<WebApplication1.Models.Book>;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h4>Danh sách</h4>
<hr />
<br />

<link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<table width="100%" class="table-sm table-hover table-bordered" id="example">
    <thead class="bg-danger text-light">
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Thể loại
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Nhà xuất bản
            </th>
            <th>
                Đại diện
            </th>
            <th>
                ISBN
            </th>
            <th>
                Xuất bản
            </th>
            <th>
                Ngày Thêm
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Hoạt động
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                BookTitle
            </th>
            <th>
                BookCategory
            </th>
            <th>
                BookAuthor
            </th>
            <th>
                BookCopies
            </th>
            <th>
                BookPub
            </th>
            <th>
                BookPubName
            </th>
            <th>
                BookISBN
            </th>
            <th>
                Copyright
            </th>
            <th>
                DateAdded
            </th>
            <th>
                Status
            </th>

        </tr>
    </tbody>
</table>
<br />

@*Java scripts*@
@if (ViewBag.requestMsg != null)
{
    <script type="text/javascript">
            @*Popups the alert if the session data is there*@
            window.onload = function () {
                alert(ViewBag.requestMsg);
                window.location.href = "/User/RequestAlert";
            };
    </script>

}

@section scripts{
    @*External scripts for data table plugins*@
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        @*Data table plugin*@
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "/UserManager/GetAll",
                    "type": "get",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "bookTitle" },
                    { "data": "bookCategory" },
                    { "data": "bookAuthor" },
                    { "data": "bookCopies" },
                    { "data": "bookPub" },
                    { "data": "bookPubName" },
                    { "data": "bookISBN" },
                    { "data": "copyright" },
                    { "data": "dateAdded" },
                    { "data": "status" },
                    {
                        "data": "bookId", "render": function (idhere) {

                            return " <a class='btn btn-sm btn-info text-light' data-toggle='tooltip' title='Request book' href='@Url.Action("Borrow","UserManager")?bookId=" + idhere + "'> <i class='fas fa-hand-point-up'></i> Yêu cầu</a>";
                        },
                        "orderable": false,
                        "width": "70px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found, Add new items"
                }
            });
        });
    </script>
}



